<article class="card">
  <div class="card-image">
    <a href="/products/<%= product.id %>">
      <img src="/images/products/<%= product.image %>" alt="" />
    </a>
  </div>
  <div class="card-description">
    <h3><%= product.name %></h3>
    <p>$ <%= product.price %></p>
    <button>Añadir al carrito</button>
  </div>
</article>
