<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/about-us.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="about-us-main">
      <section class="about-us-text">
        <div class="about-us-img">
          <img src="/images/logo.png" alt="logo E-beer" />
        </div>
        <div>
          <h2 class="about-us-title">Acerca de E-beer</h2>
        </div>
        <article class="about-us-paragraph">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid,
            unde?
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est quod
            accusantium consectetur iure. Quas quibusdam quod culpa sapiente
            laboriosam nesciunt.
          </p>
          <p>Lorem ipsum dolor sit amet.</p>
        </article>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
