<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/about-us.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="about-us">
        <img src="/images/logo.png" alt="logo E-beer" class="logo" />
        <h2 class="title">ACERCA DE E-BEER</h2>
        
        <article class="description">
          <p>
            Somos una empresa de más de 10 años en el mercado, especializada en la comercialización de cervezas nacionales e internacionales, tanto de producción artesanal, como industrial. 
          </p>
          <p>
            Ofrecemos una amplia variedad de productos seleccionados especialmente para que nuestros clientes puedan disfrutar de los distintos tipos de cerveza que ofrece el mercado.
          </p> 
          <p>
            Nuestro objetivo es ofrecer productos de calidad a precios accesibles para que puedan disfrutar todos aquellos clientes mayores de 18 años.
          </p>  
          
        </article>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
