<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/about-terms-conditions.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="about-us-main">
      <section class="about-us-text">
        <div class="about-us-img">
          <img src="/images/logo.png" alt="logo E-beer" />
        </div>
        <div>
          <h2 class="about-us-title">Acerca de E-beer</h2>
        </div>
        <article class="about-us-paragraph">
          <h3>
            Nuestra especialidad son las cervezas nacionales e internacionales, artesanales e industriales. Nuestro objetivo es ofrecer productos de calidad a un buen precio. Nos enfocamos en clientes mayores de 18 años, lo cual implica un público muy amplio, por lo que nuestro sitio es dinámico, simple y fácil de usar.
          </h3>
        </article>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
