<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-crud.css" />
    <link rel="stylesheet" href="/css/partials/card.css" />
    <link rel="stylesheet" href="/css/partials/normalize.css" />
    <link rel="stylesheet" href="/css/partials/styles.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <h2>Administración de productos</h2>

      <section>
        <div class="head-table-container">
          <section class="pl-filters">
            <article class="searchbar">
              <form action="/" method="POST">
                <input
                  type="text"
                  name="search"
                  placeholder="Buscar producto"
                />
              </form>
            </article>

            <article class="pl-container-selects">
              <form action="/marca" method="POST" class="pl-form-brand">
                <select>
                  <option>Marca</option>
                  <option value="">Tres Cordilleras</option>
                  <option value="">Brahama</option>
                  <option value="">Grolsch</option>
                  <option value="">Patagonia</option>
                  <option value="">Budweiser</option>
                  <option value="">Heineken</option>
                  <option value="">Warsteiner</option>
                  <option value="">Corona</option>
                  <option value="">Stella Artois</option>
                  <option value="">Quilmes</option>



                </select>
              </form>

              <form action="/medida" method="POST" class="pl-form-size">
                <select>
                  <option>Medida</option>
                  <option value="">1 litro</option>
                  <option value="">473 ml</option>
                  <option value="">330 ml</option>
                </select>
              </form>
              <button class="btn-add">
                <a href="/products/create">Agregar</a>
                <i class="fa-solid fa-plus"></i>
              </button>
            </article>
          </section>

        <section class="table-container">
          <article>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <% products.slice(0, 40).forEach(product => { %> <%-
              include('partials/product-table-item', {product}) %> <% }) %>
            </table>
          </article>

          <article class="pagination-container">
            <div class="rows-per-page-container">
              <label for="rowsPerPage">Filas por página: </label>
              <select name="rowsPerPage" id="rowsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>

            <div class="pagination-counter-container">
              <span>1-5</span>
              de
              <span>15</span>
            </div>

            <div class="pagination-btns-container">
              <button><i class="fa-solid fa-arrow-left"></i></button>
              <button><i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </article>
        </section>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
