<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main class="cart-container">
      <section class="emptyCart">
        <h2>UPS, ¡ESTÁ VACÍO!</h2>

        <article class="emptyCartMessage">
          <div>
            <p>Actualmente no hay ningún producto en tu carrito.</p>
          </div>
        </article>
      </section>

      <section class="backToHome">
        <article class="btn-yellow">
          <div>
            <a href="/home">Volver</a>
          </div>
        </article>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
