.login-container {
  padding: 50px 0;
  margin: 0 auto;
}

.form-container {
  background-color: var(--black);
  margin: 40px 20px;
  padding: 30px 20px;
  border-radius: 10px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.form-title h1 {
  font-size: 64px;
  font-family: 'Bayon', sans-serif;
}
.form-title p {
  font-size: 24px;
  max-width: 80%;
  margin: 0 auto;
}

.form-container button {
  margin: 20px auto;
}

.links-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  gap: 10px;
}
.links-container a {
  color: white;
}
.links-container span {
  color: var(--yellow);
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .login-container {
    max-width: 60vw;
  }
  .form-title h1 {
    font-size: 100px;
  }
  .form-title p {
    font-size: 28px;
    font-weight: 300;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media (min-width: 1023px) {
  main {
    display: flex;
    min-height: 60vh;
    align-items: center;
  }

  .login-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 80vw;
  }

  .form-container {
    width: 60%;
  }

  .form-title {
    max-width: 40%;
    padding-right: 50px;
    text-align: left;
  }
  .form-title p {
    max-width: 100%;
  }
}
