* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fafafa;
}

button {
  border: none;
  background: none;
}
