main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--container-lg);
  margin: 0 auto;
  margin-bottom: 50px;
}

h2 {
  margin: 50px 0;
  font-size: var(--text-3xl);
}

.table-container {
  overflow-x: auto;
  max-width: 1024px;
}

table {
  overflow-x: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  box-shadow: 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  text-align: center;
  width: 100%;
}

tbody {
  padding: 10px;
  position: relative;
  font-size: var(--text-lg);
}

th {
  padding: 20px 20px 10px 20px;
}

td {
  padding-bottom: 5px;
  border: none;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.btn-add-container {
  display: flex;
  justify-content: flex-end;
}

.btn-add {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  font-size: var(--text-sm);
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: rgba(28, 145, 28, 0.705);
  color: white;
}

.btn-edit {
  background-color: rgba(82, 82, 82, 0.7);
}

.btn-delete {
  background-color: rgba(206, 9, 9, 0.7);
}

i {
  font-size: var(--text-md);
  color: white;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  font-size: var(--text-sm);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  padding-right: 20px;
}

.rows-per-page-container select {
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.pagination-btns-container button:nth-child(1) {
  margin-right: 25px;
}
.pagination-btns-container button {
  border: none;
  background-color: unset;
}
.pagination-btns-container button i {
  color: var(--black);
  opacity: 0.8;
}
