.pl-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto;
  max-width: 1170px;
}
.pl-products-title h2 {
  font-weight: 500;
  font-size: 32px;
}

.pl-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 80%;
}

.pl-container-search form {
  position: relative;
}
.pl-container-search input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.pl-container-search button {
  position: absolute;
  right: 20px;
  top: 10px;
}

.pl-container-selects {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.pl-container-selects select {
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
}

.cards-container {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .pl-container-selects select {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .pl-container-selects {
    justify-content: center;
    gap: 30px;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1439px) {
  .pl-filters {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .pl-container-search {
    width: 270px;
    order: 2;
  }

  .pl-container-selects {
    order: 1;
    margin: 0;
    justify-content: left;
    gap: 30px;
  }
  .pl-container-selects select {
    width: 120px;
  }

  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
