.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
  background-color: #1e1e1e;
}
.header-container img {
  width: 25%;
}

.nav-container {
  display: none;
}

.close-icon {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  color: white;
}

.user-buttons {
  display: none;
}
