<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/about-us.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="about-us-main">
      <section class="about-us-text">
        <div>
          <h2 class="about-us-title">Acerca de E-beer</h2>
        </div>
        <div>
          <img src="/images/logo.png" alt="logo E-beer" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          nihil corrupti facere libero rem, aut labore sequi, minus nisi totam
          accusantium harum ducimus pariatur architecto omnis quis sit aliquam
          praesentium! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Deserunt ab quod neque voluptatem vero, soluta id! Harum excepturi
          earum qui sapiente veniam ex rerum nostrum repellendus, perspiciatis
          ad. Cumque, ut!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima beatae
          voluptates accusantium debitis cum enim, laudantium eius nobis ipsam
          impedit, soluta minus nulla, molestias animi delectus asperiores
          doloribus! Quidem, officiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima beatae
          voluptates accusantium debitis cum enim, laudantium eius nobis ipsam
          impedit, soluta minus nulla, molestias animi delectus asperiores
          doloribus! Quidem, officiis. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quos necessitatibus perspiciatis quis enim! Fuga
          dolore quam illo veniam velit porro ducimus veritatis mollitia fugit
          qui asperiores praesentium, molestias illum exercitationem.
        </p>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
