<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bayon&family=Outfit:wght@300;400;500;700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/add-edit-form.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/contact.css" />
  <link rel="stylesheet" href="/css/normalize.css" />


  <title>E-BEER - Inicio</title>
</head>

<body>
  <header>
    <div class="header-container">
      <div class="nav-icon">
        <a href="/home">
          <img src="/images/logo.png" alt="imagen logo" />
        </a>
      </div>

      <nav class="nav-container">
        <ul>
          <li><a href="/home">Inicio</a></li>
          <li><a href="/product-list">Productos</a></li>
          <li><a href="">Nosotros</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>

        <ul class="nav-user-buttons">
          <li>
            <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i>
              <span>Carrito</span></a>
          </li>
          <li>
            <a href="/login"><i class="fa-solid fa-user"></i> <span>Acceder</span></a>
          </li>
        </ul>

        <div class="burguer-menu">
          <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
      </nav>
    </div>
  </header>

  <main>



    <div class="container-fluid edit-form">

      <h2 class="edit-title">Registro</h2>
      <a href="mailto:@contacto@e-beer.com" class="edit-email ">contacto@e-beer.com</a>


      <div class="row pr-5 ml-3 center ">
        <div class="col-sm-6">
          <div class="mt-5 mb-2 pl-2 input-group ">
            <input type="text" class="form-control bar-input " placeholder="Buscar">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
          </div>

          <div class="mt-5 mb-2 pl-2 ">
            <div class="search-input">
              <label class="btn btn-secondary mt-3">
                Seleccionar archivo
                <input type="file" accept="image/png, image/jpeg" id="SmallFile" style="display: none;">
              </label>
              <p class="mt-2 text-muted small">Ningún archivo seleccionado</p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 ">

          <input class="edit-input" type="text" name="nombreProducto" placeholder="Nombre del producto" />

          <input class="edit-input" type="text" name="precioProducto" placeholder="Precio del producto" />

          <input class="edit-input" type="text" name="marcaProducto" placeholder="Marca del producto" />

          <input class="edit-input" type="text" name="cantidadProducto" placeholder="Cantidad del producto" />

          <textarea name="textarea" rows="6" cols="50" class="form-control rounded-border" id="texto"
            placeholder="Descripción"></textarea>

        </div>

      </div>

      <div class="row ml-3 pr-5 ">
        <div class="col-sm-6 mb-3 guardar ">
          <div class="contact-buttons-container">
            <a href="/home"><input type="submit" class="contact-submit" /></a>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="contact-buttons-container">
            <input class="contact-reset" type="reset" name="reset" />
          </div>
        </div>

      </div>

  </main>

  <footer>
    <footer class="footer-container">
      <h4 class="footer-disclaimer">
        BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO
        COMPARTA EL CONTENIDO CON MENORES. E-BEER®
      </h4>
      <section class="footer-grid-container">
        <article class="footer-social-icons">
          <p>Redes Sociales</p>
          <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
        </article>

        <article class="footer-contact-container">
          <p>Contacto</p>
          <a href="">+54 1234-1234</a>
          <a href="">contacto@e-beer.com</a>
        </article>

        <article class="footer-terms-container">
          <a href="">Términos y condiciones</a>
          <a href="">Políticas de privacidad</a>
        </article>
      </section>

      <article class="footer-newsletter-container">
        <h4>Suscribete al Newsletter</h4>
        <label for="email">
          <input id="email" type="email" placeholder="Ingresar email" class="footer-newsletter-input" />
        </label>
      </article>

      <section class="footer-copyright">
        <p>Todos los derechos reservados ©2023 E-BEER</p>
      </section>
    </footer>
  </footer>
</body>

</html>