<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/add-edit-form.css" />
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/contact.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="container-fluid edit-form">
  
        <h2 class="edit-title">Registro</h2>
        <a href="mailto:@contacto@e-beer.com" class="edit-email ">contacto@e-beer.com</a>
  
		<section class="search-bar-container">
			<article class="search-bar-form">
				<form action="/" method="POST">
					<input type="text" class="search-input" placeholder="Buscar producto">
					<button type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>

			</article>
		</section>
        <div class="row pr-5 ml-3 center ">
          <div class="col-sm-6">
            <div class="mt-5 mb-2 pl-2 input-group ">
              <input type="text" class="" placeholder="Buscar">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
            </div>
  
            <div class="mt-5 mb-2 pl-2 ">
              <div class="search-input">
                <label class="btn btn-secondary mt-3">
                  Seleccionar archivo
                  <input type="file" class="input" accept="image/png, image/jpeg" id="SmallFile" style="display: none;">
                </label>
                <p class="mt-2 text-muted small">Ningún archivo seleccionado</p>
              </div>
            </div>
  
          </div>
  
          <div class="col-sm-6 ">
  
            <input class="edit-input" type="text" name="nombreProducto" placeholder="Nombre del producto" />
  
            <input class="edit-input" type="text" name="precioProducto" placeholder="Precio del producto" />
  
            <input class="edit-input" type="text" name="marcaProducto" placeholder="Marca del producto" />
  
            <input class="edit-input" type="text" name="cantidadProducto" placeholder="Cantidad del producto" />
  
            <textarea name="textarea" rows="6" cols="50" class="form-control rounded-border" id="texto"
              placeholder="Descripción"></textarea>
  
          </div>
  
        </div>
  
        <div class="row ml-3 pr-5 ">
          <div class="col-sm-6 mb-3 guardar ">
            <div class="contact-buttons-container">
              <a href="/home"><input type="submit" class="contact-submit" /></a>
            </div>
          </div>
  
  
          <div class="col-sm-6">
            <div class="contact-buttons-container">
              <input class="contact-reset" type="reset" name="reset" />
            </div>
          </div>
  
        </div>
  
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
