<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/contact.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <form class="contact-form">
        <h2 class="contact-title">Contacto</h2>
        <a href="mailto:@contacto@e-beer.com" class="contact-email"
          >contacto@e-beer.com</a
        >
        <input
          class="contact-input"
          type="text"
          name="nombre"
          placeholder="Nombre completo"
        />
        <input
          class="contact-input"
          type="email"
          name="email"
          placeholder="E-mail"
        />
        <input
          class="contact-input"
          type="number"
          name="telefono"
          placeholder="Teléfono"
        />
        <textarea placeholder="Comentarios"></textarea>
        <div class="contact-buttons-container">
          <a href="/home"><input type="submit" class="contact-submit" /></a>
          <input class="contact-reset" type="reset" name="reset" />
        </div>
      </form>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
