<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/my-profile.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="info-profile-container">
        <article class="profile-picture">
          <img src="/images/profilePicture.jpeg" alt="fotoDePerfil" />
        </article>

        <article class="info-profile-container-desc">
          <h3>
            Tipo de perfil:<br />
            consumidor
          </h3>
          <br />
          <p>Luis D</p>
          <p>luis_d@gmail.com</p>
        </article>
      </section>

      <section class="bottomProfile">
        <article class="title">
          <h2>Mi perfil</h2>
        </article>

        <form action="/" method="post">
          <article class="input-container">
            <label for="firstName">Nombre</label>
            <input name="firstName" type="text" class="inputs" value="Luis" />
          </article>
          <article class="input-container">
            <label for="lastName">Apellido</label>
            <input
              name="lastName"
              type="text"
              class="inputs"
              value="Dartayet"
            />
          </article>
          <article class="input-container">
            <label for="email">Email</label>
            <input
              name="email"
              type="email"
              class="inputs"
              value="luis_d@gmail.com"
            />
          </article>
          <article class="input-container">
            <label for="email">Imagen</label>
            <input
              name="email"
              type="file"
              class="inputs"
              value="luis_d@gmail.com"
            />
          </article>
          <article class="input-container">
            <label for="contactNumber">Teléfono</label>
            <input
              name="contactNumber"
              type="tel"
              class="inputs"
              value="+54 9 3434-2579"
            />
          </article>
          <article class="input-container">
            <label for="address">Domicilio de entrega</label>
            <input
              name="address"
              class="inputs"
              type="text"
              value="Calle falsa, 123"
            />
          </article>
          <article class="input-container">
            <label for="birthDate">Fecha de nacimiento</label>
            <input
              class="inputs"
              type="date"
              name="birthDate"
              value="1994-11-19"
              min="1900-01-01"
              max="2005-08-19"
            />
          </article>

          <button class="btn-yellow btn-edit">Editar</button>
        </form>
      </section>

      <article class="other-container">
        <div class="title">
          <h2>Otras opciones</h2>
        </div>
        <div class="buttons-container">
          <button class="btn-yellow">
            <a href="">Historial de compras</a>
          </button>
          <button class="btn-yellow">
            <a href="">Mis tarjetas</a>
          </button>
        </div>
      </article>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>