<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/myProfile.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="myProfile-container">
      <section class="topProfile">
        <article class="profilePicture">
          <img src="/images/profilePicture.jpeg" alt="fotoDePerfil" />
          <div class="productDescription" />
        </article>
        <article class="myData">
          <h3>Tipo de perfil: <b>administrador</b></h3>
          <p>Luis D</p>
          <p>luis_d@gmail.com</p>
        </article>
      </section>
      <section class="bottomProfile">
        <form action="/" class="formProfile">
          <div class="title">
            <h2>Mi perfil</h2>
          </div>
          <article class="data">
            <div>
              <p class="profileOptions">Teléfono</p>
              <p class="box">+ 54 9 3434255679</p>
            </div>
            <div class="dateOfBirth">
              <p class="profileOptions">Fecha de nacimiento</p>
              <input
                class="box"
                type="date"
                name="birthDate"
                value="1994-11-19"
                min="1900-01-01"
                max="2005-08-19"
              />
            </div>
          </article>
        </form>
        <article class="otherOptions">
          <div class="title">
            <h2>Otras opciones</h2>
          </div>
          <div class="buttons">
            <div class="btn-yellow">
              <a href="">Gestión de usuarios</a>
            </div>
            <div class="btn-yellow">
              <a href="">Gestión de productos</a>
            </div>
          </div>
        </article>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
