<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/myProfile.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="nav-icon">
          <a href="/home">
            <img src="/images/logo.png" alt="imagen logo" />
          </a>
        </div>

        <nav class="nav-container">
          <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/product-list">Productos</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
          </ul>

          <ul class="nav-user-buttons">
            <li>
              <a href="/product-cart"
                ><i class="fa-solid fa-cart-shopping"></i>
                <span>Carrito</span></a
              >
            </li>
            <li>
              <a href="/login"
                ><i class="fa-solid fa-user"></i> <span>Acceder</span></a
              >
            </li>
          </ul>

          <div class="burguer-menu">
            <i class="fa-solid fa-bars fa-2xl"></i>
          </div>
        </nav>
      </div>
    </header>

    <main class="myProfile-container">
      <section class="topProfile">
        <article class="profilePicture">
            <img src="/images/profilePicture.jpeg" alt="fotoDePerfil" />
            <div class="productDescription">
        </article>
        <article class="myData">
            <h3>Tipo de perfil:<br> consumidor</h3><br>
            <p>Luis D</p>
            <p>luis_d@gmail.com</p>
        </article>  
      </section>
      <section class="bottomProfile">
        <form action="/" class="formProfile">
            <div class="title">
                <h2>Mi perfil</h2>
            </div>
            <article class="data">
                <div>
                    <p class="profileOptions">Teléfono</p>
                    <p class="box">+ 54 9 3434255679</p>
                </div>
                <div class="dateOfBirth">
                    <p class="profileOptions">Fecha de nacimiento</p>
                    <input class="box" type="date" name="birthDate" value="1994-11-19" min="1900-01-01" max="2005-08-19">
                </div>
                <div>
                    <p class="profileOptions">Domicilio de entrega</p>
                    <p class="box">San Martin 309 piso 10, Paraná, Entre Ríos</p>
                </div>
            </article>
        </form>
        <article class="otherOptions">
            <div class="title">
                <h2>Otras opciones</h2>
            </div>
            <div class="buttons">
                <div class="btn-yellow">
                    <a href="">Historial de compras</a>
                </div>
                <div class="btn-yellow">
                    <a href="">Mis tarjetas</a>
                </div>
            </div>
        </article>
      </section>
    </main>

    <footer class="footer-container">
      <h4 class="footer-disclaimer">
        BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO
        COMPARTA EL CONTENIDO CON MENORES. E-BEER®
      </h4>
      <section class="footer-grid-container">
        <article class="footer-social-icons">
          <p>Redes Sociales</p>
          <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
        </article>

        <article class="footer-contact-container">
          <p>Contacto</p>
          <a href="">+54 1234-1234</a>
          <a href="">contacto@e-beer.com</a>
        </article>

        <article class="footer-terms-container">
          <a href="">Términos y condiciones</a>
          <a href="">Políticas de privacidad</a>
        </article>
      </section>

      <article class="footer-newsletter-container">
        <h4>Suscribete al Newsletter</h4>
        <label for="email">
          <input
            id="email"
            type="email"
            placeholder="Ingresar email"
            class="footer-newsletter-input"
          />
        </label>
      </article>

      <section class="footer-copyright">
        <p>Todos los derechos reservados ©2023 E-BEER</p>
      </section>
    </footer>
  </body>
</html>