<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-edit-form.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form class="edit-form" action="/products/:id/edit?_method=PUT" method="POST">
        <h2 class="edit-title">Edición de productos</h2>
        <div class="edit-searchNav">
          <input
            type="text"
            placeholder="Buscar productos, marcas y más…"
            maxlength="120"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input
          class="edit-input"
          type="text"
          name="name"
          placeholder="Nombre del producto"
        />
        <input
          class="edit-input"
          type="text"
          name="category"
          placeholder="Categoría"
        />
        <input
          class="edit-input"
          type="text"
          name="size"
          placeholder="Medida"
        />
        <input
          class="edit-input"
          type="number"
          name="price"
          placeholder="Precio"
        />

        <input 
          class="edit-input"
          type="text"
          name="description"
          placeholder="Descripción"
        />

        <div class="product-picture">
          <label for="productPicture">Selecciona una imagen del producto</label>
          <input
            type="file"
            id="productPicture"
            name="productPicture"
            accept=".jpg"
          />
        </div>

        <div class="edit-buttons-container">
          <!-- <button class="add-button">
            Agregar
          </button> -->

          <button class="tapToRegister" type="submit">Editar</button>
          <button class="delete-button">Eliminar</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
