<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-crud.css" />
    <link rel="stylesheet" href="/css/partials/card.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Category</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>1</td>
          <td>lala</td>
          <td>hola</td>
          <td>img1</td>
          <td>birra</td>
          <td>1</td>
          <td>$10</td>
        </tr>
      </table>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
