
<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-detail.css" />
</head>
    
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="mainProduct">
      <section class="productDetail">
        <section class="listedProduct">
          <h2>Cerveza Corona 350 ml x1 pack x6 botellas</h2>

          <article class="imgPriceProduct">
            <div class="productImage">
              <img src="/images/cervezaoK.png" alt="Cerveza" />
            </div>
              <div class="productPrice">
                <h3>$1.900</h3>
              </div>
          </article>
        </section>

        <div class="productDetailDescription">
          <p>La Corona es una cerveza de tipo Lager Pilsner, clara y brillante, de espuma blanca y consistente. 
            Tiene notas afrutadas, de cuerpo medio, fresca, balanceada y muy fácil de beber. 
            En boca es dulce y recuerda al sabor del cereal. Su amargor es limpio y ligero.</p>
            <div class="productQuantity">
              <a href="" class="addMore">+</a>
              <p class="quantityNumber">1</p>
              <a href="" class="takeMore">-</a>
            </div>
            <section class="buyButton">
              <div>
                <a href="">COMPRAR</a>
              </div>
            </section>
          </article>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>

