
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bayon&family=Outfit:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/product-detail.css" />

    <title>E-BEER - Inicio</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="nav-icon">
          <a href="/home">
            <img src="/images/logo.png" alt="imagen logo" />
          </a>
        </div>

        <nav class="nav-container">
          <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/product-list">Productos</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
          </ul>

          <ul class="nav-user-buttons">
            <li>
              <a href="/product-cart"
                ><i class="fa-solid fa-cart-shopping"></i>
                <span>Carrito</span></a
              >
            </li>
            <li>
              <a href="/login"
                ><i class="fa-solid fa-user"></i> <span>Acceder</span></a
              >
            </li>
          </ul>

          <div class="burguer-menu">
            <i class="fa-solid fa-bars fa-2xl"></i>
          </div>
        </nav>
      </div>
    </header>

    <main class="mainProduct">
      <section class="productDetail">
        <section class="listedProduct">
          <h2>Cerveza Corona 350 ml x1 pack x6 botellas</h2>

          <article class="imgPriceProduct">
            <div class="productImage">
              <img src="/images/cervezaoK.png" alt="Cerveza" />
            </div>
              <div class="productPrice">
                <h3>$1.900</h3>
              </div>
          </article>
        </section>

        <div class="productDetailDescription">
          <p>La Corona es una cerveza de tipo Lager Pilsner, clara y brillante, de espuma blanca y consistente. 
            Tiene notas afrutadas, de cuerpo medio, fresca, balanceada y muy fácil de beber. 
            En boca es dulce y recuerda al sabor del cereal. Su amargor es limpio y ligero.</p>
            <div class="productQuantity">
              <a href="" class="addMore">+</a>
              <p class="quantityNumber">1</p>
              <a href="" class="takeMore">-</a>
            </div>
            <section class="buyButton">
              <div>
                <a href="">COMPRAR</a>
              </div>
            </section>
          </article>
        </div>
      </section>
    </main>

    <footer class="footer-container">
      <h4 class="footer-disclaimer">
        BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO
        COMPARTA EL CONTENIDO CON MENORES. E-BEER®
      </h4>
      <section class="footer-grid-container">
        <article class="footer-social-icons">
          <p>Redes Sociales</p>
          <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
        </article>

        <article class="footer-contact-container">
          <p>Contacto</p>
          <a href="">+54 1234-1234</a>
          <a href="">contacto@e-beer.com</a>
        </article>

        <article class="footer-terms-container">
          <a href="t&c.html">Términos y condiciones</a>
          <a href="t&c.html">Políticas de privacidad</a>
        </article>
      </section>

      <article class="footer-newsletter-container">
        <h4>Suscribete al Newsletter</h4>
        <label for="email">
          <input
            id="email"
            type="email"
            placeholder="Ingresar email"
            class="footer-newsletter-input"
          />
        </label>
      </article>

      <section class="footer-copyright">
        <p>Todos los derechos reservados ©2023 E-BEER</p>
      </section>
    </footer>
  </body>
</html>

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bayon&family=Outfit:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/product-detail.css" />

    <title>E-BEER - Productos</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="nav-icon">
          <a href="/home">
            <img src="/images/logo.png" alt="imagen logo" />
          </a>
        </div>

        <nav class="nav-container">
          <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/product-list">Productos</a></li>
            <li><a href="/about-us">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
          </ul>

          <ul class="nav-user-buttons">
            <li>
              <a href="/product-cart"
                ><i class="fa-solid fa-cart-shopping"></i>
                <span>Carrito</span></a
              >
            </li>
            <li>
              <a href="/login"
                ><i class="fa-solid fa-user"></i> <span>Acceder</span></a
              >
            </li>
          </ul>

          <div class="burguer-menu">
            <i class="fa-solid fa-bars fa-2xl"></i>
          </div>
        </nav>
      </div>
    </header>

    <main class="mainProduct">
      <section class="productDetail">
        <section class="listedProduct">
          <h2>Cerveza Corona 350 ml x1 pack x6 botellas</h2>

          <article class="imgPriceProduct">
            <div class="productImage">
              <img src="/images/cervezaoK.png" alt="Cerveza" />
            </div>
              <div class="productPrice">
                <h3>$1.900</h3>
              </div>
          </article>
        </section>

        <div class="productDetailDescription">
          <p>La Corona es una cerveza de tipo Lager Pilsner, clara y brillante, de espuma blanca y consistente. 
            Tiene notas afrutadas, de cuerpo medio, fresca, balanceada y muy fácil de beber. 
            En boca es dulce y recuerda al sabor del cereal. Su amargor es limpio y ligero.</p>
            <div class="productQuantity">
              <a href="" class="addMore">+</a>
              <p class="quantityNumber">1</p>
              <a href="" class="takeMore">-</a>
            </div>
            <section class="buyButton">
              <div>
                <a href="">COMPRAR</a>
              </div>
            </section>
          </article>
        </div>
      </section>
    </main>

    <footer class="footer-container">
      <h4 class="footer-disclaimer">
        BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO
        COMPARTA EL CONTENIDO CON MENORES. E-BEER®
      </h4>
      <section class="footer-grid-container">
        <article class="footer-social-icons">
          <p>Redes Sociales</p>
          <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
        </article>

        <article class="footer-contact-container">
          <p>Contacto</p>
          <a href="">+54 1234-1234</a>
          <a href="">contacto@e-beer.com</a>
        </article>

        <article class="footer-terms-container">
          <a href="">Términos y condiciones</a>
          <a href="">Políticas de privacidad</a>
        </article>
      </section>

      <article class="footer-newsletter-container">
        <h4>Suscribete al Newsletter</h4>
        <label for="email">
          <input
            id="email"
            type="email"
            placeholder="Ingresar email"
            class="footer-newsletter-input"
          />
        </label>
      </article>

      <section class="footer-copyright">
        <p>Todos los derechos reservados ©2023 E-BEER</p>
      </section>
    </footer>
  </body>
</html>

