<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-form.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="age-container">
        <div class="age-title">
          <h2>Creación y edición de productos</h2>
        </div>

        <div class="age-btns">
          <a href="./add-form"><button>Agregar</button></a>
          <a href="./edit-form"> <button>Editar</button></a>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
