<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-add-form.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form class="add-form" action="/products/create" method="POST">
        <h2 class="add-title">Registro de productos</h2>

        <input
          class="add-input"
          type="text"
          id="name"
          name="name"
          placeholder="Nombre del producto"
        />
        <input
          class="add-input"
          type="text"
          id="category"
          name="category"
          placeholder="Categoría"
        />
        <input
          class="add-input"
          type="text"
          id="size"
          name="size"
          placeholder="Medida"
        />
        <input
          class="add-input"
          type="number"
          id="price"
          name="price"
          placeholder="Precio"
        />

        <textarea name="description" placeholder="Descripción"></textarea>

        <div class="product-picture">
          <label for="productPicture">Selecciona una imagen del producto</label>
          <input
            type="file"
            id="productPicture"
            name="productPicture"
            accept=".jpg"
          />
        </div>

        <div class="add-buttons-container">
          <button class="add-button">Agregar</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
