<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/form-styles.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form
        class="form"
        action="/products/create"
        method="POST"
        enctype="multipart/form-data"
      >
        <h2 class="title">Registro de productos</h2>

        <input
          class="input"
          type="text"
          id="name"
          name="name"
          placeholder="Nombre del producto"
        />

        <input
          class="input"
          type="number"
          id="price"
          name="price"
          placeholder="Precio"
        />

        <textarea name="description" placeholder="Descripción"></textarea>

        <select name="brand_id" id="brand_id">
          <option>Marca</option>
          <option value="1">Tres Cordilleras</option>
          <option value="2">Brahama</option>
          <option value="3">Pilsen</option>
          <option value="4">Patagonia</option>
          <option value="5">Budweiser</option>
          <option value="6">Heineken</option>
          <option value="7">Pilsen</option>
          <option value="8">Corona</option>
          <option value="9">Stella Artois</option>
          <option value="10">Quilmes</option>
        </select>

        <select name="category_id" id="category_id">
          <option>Categoria</option>
          <option value="1">Porter</option>
          <option value="2">Brown Ale</option>
          <option value="3">Lager</option>
          <option value="4">Ipa</option>
          <option value="5">Pilsner</option>
          <option value="6">Stout</option>
        </select>

        <select name="size_id" id="size_id">
          <option>Medida</option>
          <option value="1">350 cc</option>
          <option value="2">500 cc</option>
          <option value="3">1000 cc</option>
          <option value="4">1500 cc</option>
        </select>

        <div class="picture">
          <label for="image">Selecciona una imagen del producto</label>
          <input
            type="file"
            id="image"
            name="image"
            accept=".jpg"
            required
          />
        </div>

        <div class="buttons-container">
          <button class="button">Agregar</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
