<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/coming-age.css" />
  </head>
  <body>
    <main>
      <!-- Logo -->
      <div class="logo-register">
        <img src="/images/logo.png" alt="logo" />
      </div>

      <div class="form-containerR">
        <section class="text-rightR">
          <div>
            <p class="e-beerR">E-BEER</p>
          </div>

          <div class="registerInicioText">
            <p class="inicioTextR">Regístrate</p>
            <p class="inicioText2R">e inicia sesión</p>
          </div>
        </section>

        <form class="registerForm" action="/" method="get">

          <p class="datosPersonalesR">Datos personales</p>
          <label for="nombre"></label>
          <input
            type="name"
            name="name"
            id="name"
            placeholder="Nombre"
            autocomplete="name"
          />
          <label for="apellido"></label>
          <input
            type="name"
            name="name"
            id="name"
            placeholder="Apellido"
            autocomplete="name"
          />
          <label for="e-mail"></label>
          <input
            type="email"
            name="e-mail"
            id="e-mail"
            placeholder="Correo electrónico"
            autocomplete="email"
          />
          <label for="contraseña"></label>
          <input
            type="password"
            name="contraseña"
            id="contraseña"
            placeholder="Ingresar contraseña"
            autocomplete="current-password"
          />
          <label class="news">
            <input class="news" type="checkbox" name="opcion" value="news">
              Quiero recibir ofertas destacadas por e-mail
            </label>
          <button type="submit">Registrate</button>
          <p class="registerLogin"><a href="login.html">¿Ya tenés cuenta? Ingresa</a></p>
          
        </form>
      </div>
      
    </main>
</html>

<!--<div class="logo-register">
            <img src="/images/logo.png" alt="logo" />
          </div>
          
          <div class="form-container">
 
            <section class="text-right">
            <div class="e-beer"> 
            <p>E-BEER</p></div>

            <div class="inicioText">
            <p>Registrate e inicia sesión 
            </p></div>
        </section>

          
            <form class="styleForm">
                <h2 class="datos">Datos Personales</h2>
              <label for="nombre"></label>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre">
              <label for="apellido"></label>
              <input type="apellido" id="apellido" name="apellido" placeholder="Apellido">
              <label for="e-mail"></label>
              <input type="text"  name="e-mail" placeholder="E-mail"/>
              <label for="contraseña"></label>
              <input type="text"  name="contraseña" placeholder="Contraseña"/>
              <label class="news">
              <input class="news" type="checkbox" name="opcion" value="news">
                Quiero recibir ofertas destacadas por e-mail
              </label>
              <button type="submit">Registrarte</button>
            </form>
          </div>
         
          -->

