<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <!-- Logo -->
      <div class="logo-register">
        <img src="/images/logo.png" alt="logo" />
      </div>

      <div class="form-containerR">
        <section class="text-rightR">
          <div>
            <p class="e-beerR">E-BEER</p>
          </div>

          <div class="registerInicioText">
            <p class="inicioTextR">Regístrate</p>
            <p class="inicioText2R">e inicia sesión</p>
          </div>
        </section>

        <form
          class="registerForm"
          action="/users/register"
          method="POST"
          enctype="multipart/form-data"
        >
          <p class="datosPersonalesR">Datos personales</p>
          <label for="firstName"></label>
          <input
            type="text"
            name="firstName"
            id="firstName"
            placeholder="Nombre"
          />
          <label for="lastName"></label>
          <input
            type="text"
            name="lastName"
            id="lastName"
            placeholder="Apellido"
          />
          <label for="email"></label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Correo electrónico"
          />
          <label for="password"></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Ingresar contraseña"
          />
          <label for="contactNumber"></label>
          <input
            type="number"
            name="contactNumber"
            id="contactNumber"
            placeholder="Número de contacto"
          />
          <label for="birthDate"></label>
          <input
            type="date"
            name="birthDate"
            id="birthDate"
            placeholder="Ingresar fecha de nacimiento"
          />
          <label for="address"></label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Ingresar domicilio"
          />

          <label for="userPicture">Selecciona una foto de perfil</label>
          <input
            type="file"
            id="userPicture"
            name="userPicture"
            accept=".jpg"
            required
          />

          <button type="submit">Registrate</button>
          <p class="registerLogin">
            <a href="login.html">¿Ya tenés cuenta? Ingresa</a>
          </p>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
