<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/tyc.css" />
  </head>

  <body>  
    <%- include('./partials/header.ejs') %> 
    <main>
      <body>
        <h1 class="terminosYcondiciones">Términos y Condiciones</h1>
        <h2 class="tyc2">
          Términos y Condiciones de Uso del sitio web www.ebeer.com.ar
        </h2>
        <h3 class="tycText3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
          veritatis quidem ab reprehenderit! Error provident, adipisci eum eos
          nulla quo, earum excepturi, illum quam tempora ducimus laudantium
          libero nobis autem. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Eligendi sed suscipit quas quos ratione consequatur modi minima
          necessitatibus quis, dolore eos. Iure eius omnis vitae quas,
          cupiditate rem porro cumque! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Minima facere suscipit harum in dolorem nulla illo
          totam omnis doloribus nam? Amet omnis numquam architecto unde modi
          atque id neque at.
        </h3>
        <h4 class="tyc4">Políticas de Privacidad</h4>
        <h5 class="tyc5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
          veritatis quidem ab reprehenderit! Error provident, adipisci eum eos
          nulla quo, earum excepturi, illum quam tempora ducimus laudantium
          libero nobis autem. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Eligendi sed suscipit quas quos ratione consequatur modi minima
          necessitatibus quis, dolore eos. Iure eius omnis vitae quas,
          cupiditate rem porro cumque! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Minima facere suscipit harum in dolorem nulla illo
          totam omnis doloribus nam? Amet omnis numquam architecto unde modi
          atque id neque at.
        </h5>
      </body>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
