.cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin: 50px 0 50px 0;
}
.card {
  width: 270px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.card-image img {
  height: 100%;
  width: 100%;
}
.card-description {
  background-color: white;
  padding: 20px;
  text-align: left;
}
.card-description h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-description p {
  font-size: 16px;
  font-weight: 500;
  color: #2e9709;
  margin-bottom: 20px;
}
.card-description button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  background-color: #ffb432;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.card-description button:hover {
  transform: scale(105%);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(105%);
  }
}

@media (min-width: 1339px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
