<footer class="footer-container">
  <h4 class="footer-disclaimer">
    BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO
    COMPARTA EL CONTENIDO CON MENORES. E-BEER®
  </h4>
  <section class="footer-grid-container">
    <article class="footer-social-icons">
      <p>Redes Sociales</p>
      <div>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
      </div>
    </article>

    <article class="footer-contact-container">
      <p>Contacto</p>
      <a href="">+54 1234-1234</a>
      <a href="">contacto@e-beer.com</a>
    </article>

    <article class="footer-terms-container">
      <a href="">Términos y condiciones</a>
      <a href="">Políticas de privacidad</a>
    </article>
  </section>

  <article class="footer-newsletter-container">
    <h4>Suscribete al Newsletter</h4>
    <label for="neswletterEmail">
      <input
        id="neswletterEmail"
        type="email"
        placeholder="Ingresar email"
        class="footer-newsletter-input"
      />
    </label>
  </article>

  <section class="footer-copyright">
    <p>Todos los derechos reservados ©2023 E-BEER</p>
  </section>
</footer>