<header>
  <div class="header-container">
    <div class="nav-icon">
      <a href="/home">
        <img src="/images/logo.png" alt="imagen logo" />
      </a>
    </div>

    <nav class="nav-container">
      <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/products/product-list">Productos</a></li>
        <li><a href="/main/about-us">Nosotros</a></li>
        <li><a href="/main/contact">Contacto</a></li>
      </ul>

      <ul class="nav-user-buttons">
        <li>
          <a href="/product-cart"
            ><i class="fa-solid fa-cart-shopping"></i> <span>Carrito</span></a
          >
        </li>
        <li>
          <a href="/login"
            ><i class="fa-solid fa-user"></i> <span>Acceder</span></a
          >
        </li>
      </ul>

      <div class="burguer-menu">
        <i class="fa-solid fa-bars fa-2xl"></i>
      </div>
    </nav>
  </div>
</header>
