<header>
  <div class="header-container">
    <% if (locals.ageAnswer == "yes") { %>
    <div class="nav-icon">
      <a href="/home">
        <img src="/images/logo.png" alt="imagen logo" />
      </a>
    </div>
    <% } else { %>
      <div class="nav-icon">
        <a href="/">
          <img src="/images/logo.png" alt="imagen logo" />
        </a>
      </div>
    <% } %>

    <nav class="nav-container">
      <% if (locals.ageAnswer == "yes") { %>
      <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about-us">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>

      <ul class="nav-user-buttons">
        <li>
          <a href="/products/cart"
            ><i class="fa-solid fa-cart-shopping"></i> <span>Carrito</span></a
          >
        </li>
        <% if (locals.isLogged) { %>
          <li>
            <a href="/users/myProfile"> <i class="fa-solid fa-user"></i> <span> <%= locals.userLogged.first_name %> </span></a>
          </li>  
        <% } else { %>
          <li>
            <a href="/users/login"><i class="fa-solid fa-user"></i> <span>Acceder</span></a>
          </li>
        <% } %>
        <% if (locals.isLogged && locals.userLogged.role_id == "admin") { %>
          <li>
            <a href="/users/crud"> <i class="fa-solid fa-screwdriver-wrench"></i> <span>Users</span></a>
          </li>  
        <% } else { %>
        <% } %>
        <% if (locals.isLogged && locals.userLogged.role_id == "admin") { %>
          <li>
            <a href="/products/crud"> <i class="fa-solid fa-toolbox"></i> <span>Products</span></a>
          </li>  
        <% } else { %>
        <% } %>
      </ul>

      <% } else { %>
      <% } %>

      <div class="burguer-menu">
        <i class="fa-solid fa-bars fa-2xl"></i>
      </div>
    </nav>
  </div>
</header>
