main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.about-us {
  width: 70%;
  text-align: center;
  margin: 80px 0;
}
.title {
  font-size: 32px;
  font-weight: 1000;
  margin: 20px 0px 20px 0px;
}
.description {
  margin: 50px 0px 20px 0px;
}
p {
  margin: 20px 0px 0px 0px;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .about-us {
    width: 60%;
  }
}
