.logo-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.age-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1e1e1e;
  padding: 30px 20px;
  margin: 80px 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.age-title {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px 30px;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.age-title h2 {
  font-weight: 500;
}

.age-btns {
  display: flex;
  margin: 10px 0;
  padding: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.age-btns button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  background-color: #ffb432;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.age-btns button:hover {
  transform: scale(105%);
}
.age-btns a {
  width: 100%;
  color: #1e1e1e;
}

.age-terms {
  display: flex;
  color: white;
}
.age-terms p {
  max-inline-size: 50ch;
  opacity: 0.9;
}

@media (min-width: 767px) {
  .age-container {
    width: 60%;
    margin: 80px auto;
  }
}

@media (min-width: 1023px) {
  .age-container {
    width: 40%;
    margin: 80px auto;
  }
  .age-terms {
    justify-content: center;
  }
}
