/* Variables Globales */
:root {
  /* Colors */
  --yellow: #ffb432;
  --black: #1e1e1e;
  --green: #2e9709;
  --red: #b70d0d;
  --light-grey: #fafafa;
  --dark-grey: rgba(0, 0, 0, 0.8);

  /* Texts */
  --text-sm: 14px; /* Textos */
  --text-md: 16px; /* Precios */
  --text-lg: 18px; /* Subtitulos */
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px; /* Titulos */

  /* Layout */
  --container-lg: 1170px;
}

/* Clases globales */
.btn-yellow {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  background-color: #ffb432;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.btn-yellow a {
  color: black;
}
.btn-yellow:hover {
  transform: scale(105%);
}

.inputs {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
}

.searchbar form {
  position: relative;
}
.searchbar input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.searchbar button {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: unset;
}
