main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.terms-privacy {
  width: 80%;
  text-align: center;
  margin-top: 80px;
}
.title {
  font-size: 32px;
  font-weight: 1000;
  margin: 20px 0px 20px 0px;
}
.subtitle {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0px 30px 0px;
}
.description {
  margin: 40px 0px 30px 0px;
}
.list {
  margin-bottom: 80px;
}
.list ul {
  margin-bottom: 30px;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .terms-privacy {
    width: 60%;
  }
}
