/* Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  background-color: var(--black);
  color: white;
}
.footer-disclaimer {
  text-align: center;
  font-size: 12px;
}
.footer-grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 10px;
}
.footer-grid-container article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 18px;
}
.footer-grid-container a {
  color: white;
}

.footer-social-icons div {
  display: flex;
  margin: 20px auto 0 auto;
}
.footer-social-icons i {
  padding: 0 15px;
  font-size: 32px;
}
.footer-social-icons p {
  font-size: 24px;
  font-weight: 500;
}

.footer-contact-container p {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
}
.footer-contact-container a {
  font-size: 16px;
}
.footer-contact-container a:nth-child(3) {
  padding-top: 5px;
}

.footer-terms-container a:nth-child(2) {
  padding-top: 10px;
}

.footer-newsletter-container {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.footer-newsletter-container h4 {
  font-size: 24px;
  font-weight: 500;
}
.footer-newsletter-input {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  width: 100%;
}

.footer-copyright {
  text-align: center;
  font-weight: 300;
  margin: 50px 0 30px 0;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-newsletter-input {
    width: 80%;
  }
  .footer-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .footer-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-social-icons p {
    font-size: 24px;
    font-weight: 500;
  }
  .footer-social-icons i {
    padding: 0 40px;
  }

  .footer-contact-container p {
    font-size: 24px;
    font-weight: 500;
  }

  .footer-terms-container a:nth-child(2) {
    margin-top: 10px;
  }

  .footer-newsletter-input {
    width: 40%;
  }
}
